table{ 
    border: 2px solid red;
    background-color: brown;
    width: 300px;
    length: 300px;
    height: 300px;
    margin: auto;
    
}
h1{
    color: brown;
}
.table{
    background-color: green;
}
img{
    height: 100px;
    width: 100px;
}
tr{
    text-align: center;
    background-color: bisque;
}
.line{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
.RED{
    background-color: rgba(255, 0, 0, 0.644) ;
}
